html {
    height: 100%;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: "minecraft";
    src: url("../fonts/MinecraftEvenings-lgvPd.ttf") format("truetype");
    font-weight: 1000;
    font-style: normal;
 }
.container {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #5dbe25;
    text-align: center;
    font-family:'minecraft';
}
form.grid-form {
    display: grid;
    grid-gap: 10px;
}

.grid-row-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.grid-row-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.grid-column {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
input:focus-visible{
    outline: none;
    border-color: #5dbe25;
}

/* button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #5dbe25;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
} */
.btn{
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: #5dbe25;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px black;
}
.btn:hover{
    filter: brightness(0.9);
}
.btn:active{
    transform: scale(.95) translateY(2px);
}
